*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    color: #515076;
    font-weight: 400px;
    font-size: 12px;

}

.page-wrapepr{
    width: 1110px;
    margin: 0 auto;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 697px;
    background: url(images/dandelions.png) center/cover no-repeat;
    position: relative;
}

.choose-your-product{
    font-weight: 400;
   font-style: Regular;
   font-size: 70px;
   line-height: 78px;
   letter-spacing: 0%;
   text-align: center;
   vertical-align: middle;
   display: flex;
   margin-bottom: 110px;
   
}

.card-container-box{
    width: 1110px;
    height: 1191px;
    border: 0px solid #515076;
    margin: 0 auto;
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 408px;
    position: absolute;
    z-index: 2;
    background-color: white;

}

.card-container{
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
    
}

.product-category{
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-top: 30px ;
    margin-bottom: 5px;
    display: block;
}   
.product-name{
    font-weight:700 ;
    font-size:20px ;
    line-height: 27px;
    margin-bottom:5px ;
}

.product-description{
    margin-bottom: 15px;
}

.product-compound{
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}
.product-compound-item{
    margin-left: 14px;
}
.product-price-container{
    display: flex;
    justify-content: space-between;
    
}
.product-price-label{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

}
.product-price{
    font-size: 20px;
    line-height: 24px;

}