* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #515076;
    font-weight: 400; /* Убраны px */
    font-size: 12px;
}

.page-layout { 
    width: 1110px;
    margin: 0 auto;
}

.header-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 697px;
    background: url('images/dandelions.png') center/cover no-repeat; 
    position: relative;
}

.main-title { 
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    margin-bottom: 110px;
}

.cards-container-box { 
    width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 36px;
    justify-content: center;
    flex-wrap: wrap;
    top: 408px;
    position: absolute;
    z-index: 2;
    background-color: white;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-top: 30px; 
    margin-bottom: 5px;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.composition-title { 
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-composition-list { 
    list-style: circle;
    margin-bottom: 25px;
}

.composition-item { 
    margin-left: 14px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}

.price-label { 
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.price-value { 
    font-size: 20px;
    line-height: 24px;
}